<h2>Create a new pirate!</h2>

<form method="POST" action="/pirates">
	
	<label for="name">Name: </label>
	<input name="name"></input> <br>

	<label for="birthplace">Birthplace: </label>
	<input name="birthplace"></input><br>
	
	<label for="death_year">Year of Death: </label>
	<input name="death_year"></input><br>
	
	<label for="base">Base: </label>
	<input name="base"></input><br>

	<label for="nickname">Nickname: </label>
	<input name="nickname"></input><br>

	<button>Create New Pirate</button>
</form>